@{ ViewBag.Title = "Drag and Drop"; }

<h2>Drag and Drop Testbed</h2>
<link href="~/Content/style-dragdrop.css" rel="stylesheet" />
<script src="~/Scripts/src/app-dragdrop.js"></script>
<p>Drag the snowboarder to the developer conference</p>
<div id="conferences">
    <div id="conference1" ondrop="ddDrop(event)" ondragover="ddAllowDrop(event)">Open source on the snow, Val D'isere France January 2020</div>
    <div id="conference2" ondrop="ddDrop(event)" ondragover="ddAllowDrop(event)">Geekski dev party - Morzine, France, March 2020</div>
</div>
<div id="attendees">
    <img id="boarder1" src="~/img/snowcode.png" draggable="true" ondragstart="ddDrag(event)" height="227" width="250">
    <img id="boarder2" src="~/img/snowcode.png" draggable="true" ondragstart="ddDrag(event)" height="227" width="250">
</div>
