#conference1, #conference2, #conference3 {
    border: 1px solid black;
    margin: 15px;
    height: 227px;
    width: 250px;
    padding:10px;
    background-color: rgb(205, 226, 241);
    float:left;
}

#conferences, #attendees {
    display:inline-block;
    width:100%;
}

.boarder { 
    cursor:move;
}