@{
    ViewBag.Title = "Switch";
}

<h2>Switch Testbed</h2>
<script src="~/Scripts/src/app-switch.js"></script>

<a id="new-window" class="btn btn-default" href="/Inputs" target="_blank">Go to Inputs (in new window)</a>
<a id="new-popup" class="btn btn-default" href="#" onclick="popUp('/Inputs')">Go to Inputs (in popup)</a>
<br /><br />
<iframe src="/Alerts" width="500" height="500"></iframe>
